@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import '~normalize.css';
@import './variables.scss';

html {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: $gray-dark;
}

h1, h2, h3 {
  font-weight: 300;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  line-height: 1.0;
  word-wrap: break-word;
  overflow-x: hidden;

  &:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    pointer-events: none;
    transform: scale(1);
    background-image: linear-gradient(60deg, rgba(255,165,150,0.502) 9%, rgba(0,228,255,0.353) 100%), url("./bg.jpg");
    background-position: 0% 0%, center;
    background-repeat: repeat, no-repeat;
    background-size: cover, cover;
    background-attachment: scroll;
    background-color: #FFFFFF;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

ul {
  &.list-inline {
    padding-left: 0;
    list-style: none;

    li {
      display: inline-block;
      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }
}